In [1]:
import pandas as pd
import numpy as np

In [6]:
data_path = "reviews.csv"
df = pd.read_csv(data_path, sep='\t')

In [7]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [9]:
df.shape

(1000, 2)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  1000 non-null   object
 1   Liked   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [11]:
df.isnull().sum()

Review    0
Liked     0
dtype: int64

In [12]:
df.isnull().mean() * 100

Review    0.0
Liked     0.0
dtype: float64

In [16]:
df['Liked'].value_counts()

Liked
1    500
0    500
Name: count, dtype: int64

In [17]:
df['Liked'].value_counts(normalize=True) * 100

Liked
1    50.0
0    50.0
Name: proportion, dtype: float64

In [18]:
df[df['Liked'] == 0]['Review'].sample(3, random_state=42)

824                                       Awful service.
167    So don't go there if you are looking for good ...
843                                     I won't be back.
Name: Review, dtype: object

In [19]:
df[df['Liked'] == 1]['Review'].sample(3, random_state=42)

656    Hands down my favorite Italian restaurant!
131                        Penne vodka excellent!
671              I promise they won't disappoint.
Name: Review, dtype: object

In [20]:
df['review_length'] = df['Review'].astype(str).apply(len)
df['review_length'].describe()

count    1000.000000
mean       58.315000
std        32.360052
min        11.000000
25%        33.000000
50%        51.000000
75%        80.000000
max       149.000000
Name: review_length, dtype: float64